!!!
%html{:lang => 'en', 'ng-app' => 'weylandApp'}
	%head
		%meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1'}
		%title= "#{Platform::COMPANY_NAME} #{Platform::PRODUCT_NAME}"
		%link{:rel => 'stylesheet', :href => '/styles/bootstrap.min.css'}
		%link{:rel => 'stylesheet', :href => '/styles/font-awesome.min.css'}
		%link{:rel => 'stylesheet', :href => '/styles/app.css'}
		%script{:src => '/scripts/angular.min.js'}
		%script{:src => '/scripts/ui-bootstrap-tpls.min.js'}
		%script{:src => '/scripts/moment.min.js'}
		%script{:src => '/scripts/angular-moment.min.js'}
		%script{:src => '/scripts/angular-bootstrap-file-field.min.js'}
		%script{:src => '/scripts/app.js'}
	%body{'ng-cloak' => true}
		%div.container
			%div.page-header
				%h1= "#{Platform::COMPANY_NAME} #{Platform::PRODUCT_NAME}"
				- if Platform::PRODUCT_LOGO
					%img.logo{:src => Platform::PRODUCT_LOGO}
			%div.panel.panel-default{'ng-controller' => 'weylandJobsCtrl'}
				%div.panel-heading
					%h3 Print Jobs ({{jobs.length}})
				%div.panel-body
					%table.table.table-striped
						%thead
							%tr
								%th{'ng-repeat' => "col in columns", 'ng-attr-role' => "{{col.key ? 'button' : undefined}}", 'ng-click' => "sort(col.key)"}
									{{col.title}}
									%i.fa{'ng-if' => 'col.key', 'ng-show' => "sort_key === col.key", 'ng-class' => 'sort_class()'}
						%tbody
							%tr{'ng-repeat' => "job in jobs | orderBy: sort_key: sort_reverse track by job.id"}
								%td{:title => '{{job.id}}'} {{$index + 1}}
								%td {{job.name}}
								%td{'am-time-ago' => 'job.created | amParse', :title => '{{job.created}}'}
								%td.text-right{:title => '{{job.size | number}} bytes'} {{job.size | bytes}}
								%td.text-center
									%i.fa.fa-check{'ng-show' => 'job.convert'}
								%td
									{{job.status}}
									%span{'ng-show' => 'job.print_stats'} ({{job.print_stats.elapsed}})
								%td{'am-time-ago' => 'job.updated | amParse', :title => '{{job.updated}}'}
								%td
									%button.btn.btn-info{:type => 'button', 'ng-click' => 'view(job)', :title => 'View the files'}
										%i.fa.fa-search
										View
									%button.btn.btn-primary{:type => 'button', 'ng-disabled' => '!job.printable', 'ng-click' => 'print(job)', :title => 'Print the file'}
										%i.fa.fa-print
										Print
									%button.btn.btn-success{:type => 'button', 'ng-disabled' => '!job.mailable', 'ng-click' => 'mail(job)', :title => 'Mark the print job as mailed'}
										%i.fa.fa-envelope
										Mail
									%button.btn.btn-danger{:type => 'button', 'ng-click' => 'delete(job)', :title => 'Delete the print job'}
										%i.fa.fa-trash
										Delete
						%tfoot
					%div
						%button.btn.btn-primary{:type => 'button', 'ng-click' => 'refresh()', :title => 'Refresh print job list'}
							%i.fa.fa-refresh
							Refresh
						%button.btn.btn-success{:type => 'button', 'ng-click' => 'upload()', :title => 'Upload new print job'}
							%i.fa.fa-upload
							Upload&hellip;
						%button.btn.btn-danger{:type => 'button', 'ng-disabled' => 'jobs.length == 0', 'ng-click' => 'clear()', :title => 'Delete all print jobs'}
							%i.fa.fa-trash
							Delete All
			%div.panel.panel-default{'ng-controller' => 'weylandPrinterCtrl'}
				%div.panel-heading
					Plotter Version:
					%span{'ng-show' => 'loading'}
						fetching...
						%i.fa.fa-spinner.fa-spin
					%span{'ng-hide' => 'loading'}
						{{printer_version || 'unknown'}}
						%i.fa.fa-refresh{:role => 'button', 'ng-click' => 'get_version()'}
				%div.panel-body
					%button.btn.btn-primary{:type => 'button', 'ng-click' => 'pen_up()', :title => 'Move plotter pen up'}
						%i.fa.fa-pencil
						%i.fa.fa-arrow-up
						Pen Up
					%button.btn.btn-primary{:type => 'button', 'ng-click' => 'pen_down()', :title => 'Move plotter pen down'}
						%i.fa.fa-pencil
						%i.fa.fa-arrow-down
						Pen Down
